@CHARSET "UTF-8";

.login-form form button{
	margin-top: 0;
}
.boton{
	margin: 5%;
}
.imagePrice { 
	width: 100%; /* for IE 6 */
}
.imagenPrecio > h4{
	z-index: 1;
	top: 70%;
	right: 50%;
	font-weight: bold;
}
.imagenPrecio > h5{
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
	top: 80%;
	right: 50%;
}
.modalCompra{
	width: 300pt;
	height: 300pt;
	margin-top: -150pt !important;
	margin-bottom: 100pt !important;
}
.tablaCompras{
	text-align: center;
	width: 80%;
	height: 80%;
	margin-left: 35%;
	margin-right: 35%;
}
.imagenSearch{
	width: 30pt;
	height: 30pt;
}
.item-desc{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}